@import "/src/scss/main.scss";

nav {
  transition: $transition;
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link:hover {
  color: unset;
}
a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}
ul {
  list-style-type: none; 
  padding-top: 15px;
  margin: 0;
}